<!DOCTYPE html>
<html>
<head>
    <title>Cloud Monitoring Dashboard</title>
</head>
<body>
    <h1>AWS EC2 Instances</h1>
    {% if ec2_instances %}
    <table border="1">
        <tr>
            <th>Instance ID</th>
            <th>Type</th>
            <th>State</th>
            <th>Availability Zone</th>
        </tr>
        {% for instance in ec2_instances %}
        <tr>
            <td>{{ instance.id }}</td>
            <td>{{ instance.type }}</td>
            <td>{{ instance.state }}</td>
            <td>{{ instance.az }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No EC2 instances found in this region.</p>
    {% endif %}

    <hr>

    <h1>AWS S3 Buckets</h1>
    {% if s3_buckets %}
    <table border="1">
        <tr>
            <th>Bucket Name</th>
            <th>Creation Date</th>
        </tr>
        {% for bucket in s3_buckets %}
        <tr>
            <td>{{ bucket.name }}</td>
            <td>{{ bucket.creation_date }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No S3 buckets found in this account.</p>
    {% endif %}

    <hr>

    <h1>AWS IAM Users</h1>
    {% if iam_users %}
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Created At</th>
        </tr>
        {% for user in iam_users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No IAM users found in this account.</p>
    {% endif %}
</body>
</html>
